#image{
    position: absolute;
    display: none;
    max-width: 1000px;
    max-height: 1000px;
    /*max-height: 100%;*/
}

.lat1 {width:154px; color:#FFFFFF; background-color:#000000; float:left; padding:0px; position:absolute; top:4116px; left:3800px;}
.long1 {width:154px; color:#FFFFFF; background-color:#000000; float:left; padding:0px; position:absolute; top:4216px; left:3800px;}
.lat2 {width:154px; color:#FFFFFF; background-color:#000000; float:left; padding:0px; position:absolute; top:4116px; left:4200px;}
.long2 {width:154px; color:#FFFFFF; background-color:#000000; float:left; padding:0px; position:absolute; top:4216px; left:4200px;}
.distance {width:154px; color:#FFFFFF; background-color:#000000; float:left; padding:3px; position:absolute; top:4316px; left:4000px;}