#ignore specific large files
Africa_ethnic_groups_1996.png
Mordenkainens Tome of Foes.pdf
Monster Hunter Monster Manual _ GM Binder.pdf
Untitled (2017_09_22 15_49_02 UTC)(1).pdf
Untitled (2017_09_22 15_49_02 UTC).pdf
Wands _ Wizards_ A Harry Potter 5e Adaptation v1.2 _ GM Binder.pdf
Xanathar_s Guide to Everything(1).pdf
Xanathar_s Guide to Everything.pdf
Monster Manuals/Monster Manual V (2017_09_22 15_49_02 UTC)(1).pdf
Monster Manuals/Monster Manual V (2017_09_22 15_49_02 UTC).pdf
Symbaroum Core Rulebook.pdf
Climates.xcf
BlackMap.jpg.band1.level0.gplates.cache
Climates-backup.xcf
WindMapCompilation-forSharing.psd
Master.svg.2021_07_13_11_38_16.1.svg
balckmap.xcf
Tectonics_and_wind.png.band1.level0.gplates.cache

