#ignore specific large files
Africa_ethnic_groups_1996.png
./Game Modules/5e/Mordenkainens Tome of Foes.pdf
./Game Modules/5e/Monster Hunter Monster Manual _ GM Binder.pdf
./Game Modules/5e/Untitled (2017_09_22 15_49_02 UTC)(1).pdf
./Game Modules/5e/Untitled (2017_09_22 15_49_02 UTC).pdf
./Game Modules/5e/Wands _ Wizards_ A Harry Potter 5e Adaptation v1.2 _ GM Binder.pdf
./Game Modules/5e/Xanathar_s Guide to Everything(1).pdf
./Game Modules/5e/Xanathar_s Guide to Everything.pdf
./Game Modules/3.5e/Monster Manuals/Monster Manual V (2017_09_22 15_49_02 UTC)(1).pdf
./Game Modules/3.5e/Monster Manuals/Monster Manual V (2017_09_22 15_49_02 UTC).pdf
./Game Modules/Symbaroum Core Rulebook.pdf
./Design/Climates.xcf
./Design/GPLATES/BlackMap.jpg.band1.level0.gplates.cache
./Design/Climates-backup.xcf
./Design/WindMapCompilation-forSharing.psd
./Design/MASTER/Master.svg.2021_07_13_11_38_16.1.svg
./Design/AllyWorld/balckmap.xcf
./Design/Climate-Exports/Tectonics_and_wind.png.band1.level0.gplates.cache

